-load i18n
-load humanize
-load tsiahpngtags
-regroup order.tickets|dictsort:'item.id' by item as grouped_tickets
table.ui.summary.table
  thead
    tr
      th.four.wide {% trans 'Item' %}
      th.nine.wide {% trans 'Quantity' %}
      th.three.wide {% trans 'Subtotal' %}
  tbody
    {% for prod in grouped_tickets %}
    tr
      //- product name
      td {{ prod.grouper }}
      //- product quantity
      td
        -trans 'Original taste' as str_orig_taste
        -for ticket in prod.list|organize_tickets
          -firstof ticket.note str_orig_taste as note
          {% blocktrans with name=note qty=ticket.quantity %}{{ name }} ×{{ qty }}{% endblocktrans %}
          {% if not forloop.last %}{% trans ', ' %}{% endif %}
      //- subtotal
      td.right.aligned ${{ prod.list|dictsum:'cost'|intcomma }}
    {% empty %}
    tr.hint
      td.center.aligned(colspan='2') {% trans 'No tickets' %}
    {% endfor %}
  if order.tickets
    tfoot
      tr
        th
        th {% blocktrans with qty=order.sum_quantity|intcomma %}{{ qty }} items{% endblocktrans %}
        th.right.aligned ${{ order.sum_cost|intcomma }}
